; File ini berisi kredensial dan tidak boleh di-commit ke Git.
; This file contains credentials and should NOT be committed to Git.

[credentials]
wifi_ssid = "---"
wifi_password = "---"
mqtt_user = "---"
mqtt_pass = "---"